<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel="shortcut icon" href="../static/favicon.ico'">
    <link rel='stylesheet' href='../static/style.css'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <h1><a href="{{ url_for('index') }}">Digitaler Projektassistent</a></h1>
        <p>
            Geben Sie Ihren Projektstatus ein und errechnen Sie den Fortschrittsgrad und ob Sie als Projektleiter etwas tun müssen!
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <div class="w3-card-3 w3-margin">
                <form method="post" class="w3-container w3-margin">
                  <label for="title">Titel</label>
                  <input name="title" id="title" required class="w3-input" type="text">
                  <label for="statustext">Status</label>
                  <textarea name="statustext" id="statustext"></textarea>
                </form>
              </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analysieren</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
                <label for='result-ampel'></label>
                <label for='result-status'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
