{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Neuen Status erfassen{% endblock %}</h2>
{% endblock %}

{% block content %}
  <div class="w3-card-3 w3-margin">
    <form method="post" class="w3-container w3-margin">
      <label for="title">Titel</label>
      <input name="title" id="title" value="{{ request.form['title'] }}" required class="w3-input" type="text">
      <label for="statustext">Status</label>
      <textarea name="statustext" id="statustext">{{ request.form['statustext'] }}</textarea>
      <label for="percentage">Fertigstellungsgrad (PC)</label>
      <input name="percentage" id="percentage" value="{{ request.form['percentage'] }}" class="w3-input" type="number">
      <input type="submit" class="w3-btn w3-gray"  value="Sichern">
    </form>
    <div class='analyze'>
      <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
  </div>
  <div class='result-label'>
      <label id='result-label'></label>
  </div>
  </div>
{% endblock %}
