html {
  font-family: sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
}

ui5-textarea {
  width: 100%;
}

ui5-messagestrip {
  margin-bottom: 0.5rem;
}

ui5-button {
  margin-top: 0.5rem;
}

.content {
  margin: 0 auto;
  max-width: 64rem;
}

.card-body {
  margin: 1rem;
}
