{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Einloggen{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="w3-card-3 w3-margin">
    <form method="post" class="w3-container w3-margin">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Passwort</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" class="w3-btn w3-gray" value="Einloggen">
    </form>
</div>
{% endblock %}
